# Make a copy of this file as .env (git ignored) as that's the name the
# compose.yaml file uses.

# ST_AGENT is required for initial registration to work.
ST_AGENT=your_cool_name

# Uncomment this if you want to play on the staging server
# staging resets daily rather than weekly and has shorter cooldowns.
# ST_BASE_URL=https://api.staging.spacetraders.io/v2
